<component name="ArtifactManager">
  <artifact type="war" name="spring_mvc_validator_form:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring_mvc_validator_form.war">
      <element id="artifact" artifact-name="spring_mvc_validator_form:war exploded" />
    </root>
  </artifact>
</component>